<div class="bg-white shadow-lg rounded-lg overflow-hidden">
  <div
    class="px-6 py-4 bg-gradient-to-r from-blue-500 to-purple-600 mb-5 flex justify-between items-center"
  >
    <h2 class="text-2xl font-bold text-white">{{ title }}</h2>
    <app-button
      [text]="'Agregar Género'"
      [icon]="
        'M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z'
      "
      (onClick)="onAddGenre()"
    >
    </app-button>
  </div>

  <app-table
    [headers]="headers"
    [data]="genres"
    (viewItem)="onViewGenre($event)"
    (editItem)="onEditGenre($event)"
    (deleteItem)="onDeleteGenre($event)"
    [pageSize]="itemsPerPage"
    (pageChange)="onPageChange($event)"
    [totalCount]="totalItems"
    [totalPages]="totalPages"
  ></app-table>
</div>
